<div class="table-row">
    <div class="subjects">
        <a href="/replies/{{this.postID}}/currentuser/{{additionalVariable}}">{{this.title}}</a>
        <br>
        <span>Started by <b><a href="/user/{{this.username}}/currentuser/{{additionalVariable}}">{{this.username}}</a></b></span>
    </div>
    <div class="replies">
        {{this.replies}} replies <br> {{this.views}} views
    </div>
</div>