<div class="comments-container">
    <div class="body">
        <div class="authors">
            <div class="username"><a href="/user/{{reply.username}}">{{reply.username}}</a></div>
            <div class="profilePhotos"><img src="/{{user.photo}}" alt=""></div>
            <div><u>{{reply.date}}</u></div>
        </div>
        <div class="content">
            {{reply.content}}
            <br>
            <br>
            <div class="votecontainer">
                <button id="likebtn2" >
                    <i class="fa fa-thumbs-up"></i>
                </button>
                <input type="number" id="input1_com" value="{{reply.upvote}}" name="">
                <button id="dislikebtn2">
                    <i class="fa fa-thumbs-down"></i>
                </button>
                <input type="number" id="input2_com" value="{{reply.downvote}}" name="">
            </div>
        </div>
    </div>
</div>