<link rel="stylesheet" href="/static/css/posts.css">
<div class="currentuser">{{currentuser}}</div>
<div class="replyid">{{reply.replyID}}</div>
<div class="comments-container">
    <div class="body">
        <div class="authors">
            <div class="username"><a href="/user/{{reply.username}}/currentuser/{{currentuser}}">{{reply.username}}</a></div>
            <div class="profilePhotos"><img src="/{{user.photo}}" alt=""></div>
            <div><u>{{reply.date}}</u></div>
        </div>
        <div class="content">
            {{reply.content}}
            <br>
            <br>
            <div class="votecontainer">
                <button id="likebtn2" onclick="window.location.href='/upvotereply/{{reply.replyID}}/currentuser/{{currentuser}}';">
                    <i class="fa fa-thumbs-up"></i>
                </button>
                <input type="number" id="input1_com" value="{{reply.upvote}}" name="">
                <button id="dislikebtn2" onclick="window.location.href='/downvotereply/{{reply.replyID}}/currentuser/{{currentuser}}';">
                    <i class="fa fa-thumbs-down"></i>
                </button>
                <input type="number" id="input2_com" value="{{reply.downvote}}" name="">
            </div>
            
        </div>
    </div>
</div>
{{#if (eq reply.username currentuser)}}
    <div class="spacing">
        <div class="makepostcontainer">
            <button class="editcomment-btn editHide2" id="editcomment-btn" onclick="showEditComment()">Edit your comment</button>
            <button class="canceleditcomment-btn editHide" id="canceleditcomment-btn" onclick="removeEditComment()">Cancel...</button>
            <div class="editcomment-area hide" id="editcomment-area">
                <form action="/reply/{{reply.replyID}}/edit" method="post" enctype="application/x-www-form-urlencoded" id="form_rep">
                    <textarea name="reply" placeholder="edit reply here ... " id="edit_reply"></textarea>
                    <input type="submit" value="Edit Reply" class="editcomment_button_rep">
                </form>
                <a id="deleteButton" href="/reply/{{reply.replyID}}/delete"> 
                    <input type="button" class="mainpage-btn" value="Delete Reply"> 
                </a>
            </div>
        </div>
    </div>
{{/if}}
